{% extends 'tester/Page.html' %}
{% load render_bundle from webpack_loader %}
{% load otree %}


{% block content %}
    <script>
        window.distribution = {{ player.get_distribution|json|safe }};
        window.distribution_explication = {{ js_vars.distribution_explication|json|safe }};
        window.distribution_obj = {{ js_vars.distribution_obj|safe }};
        window.attentionError = {{ attentionError|json }};
    </script>
    {% render_bundle 'chunk-vendors' %}
    {% render_bundle 'distribution' %}
{% endblock %}


