{% extends "tester/Page.html" %}



{% block content %}
    <style>
        .infocard {
            max-width: 700px;
            font-size: 1rem
        }

        .infotext {
            text-align: left;
            padding-top: 25px;
            padding-bottom: 10px;
        }

        @media only screen and (min-width: 600px) and (max-width: 1000px) {
            .infocard {
                font-size: 2rem !important;
                font-weight: bold;
                max-width: 100%;
            }
        }


    </style>

    <div class="container-fluid my-3">
        <div class="row">
            <div class="col d-flex flex-column justify-content-center align-items-center">
                <div class="card infocard">
                    <div class="card-body">

                        <ul class="list-group list-group-flush text-left infotext">
                            <li class="list-group-item">
                                {% blocktrans trimmed %}
                                    Your participation is anonymous and confidential. The results of this research will
                                    be published, but your name will never be mentioned. All decisions of the research
                                    participants will be processed by a computer program that does not reveal your
                                    identity to other participants or to us, so that no one can associate your actions
                                    with you personally.
                                {% endblocktrans %}
                            </li>
                            <li class="list-group-item">
                                {% blocktrans trimmed %}
                                    By participating in this study, you do not expose yourself to any risks.
                                {% endblocktrans %}
                            </li>
                            <li class="list-group-item">
                                {% blocktrans trimmed %}
                                    Participation in the research is possible using browsers Firefox, Chrome / Chromium,
                                    Opera, Edge
                                    or
                                    Yandex
                                    with operating systems for stationary computers, laptops or smartphones.
                                {% endblocktrans %}


                            </li>
                            <li class="list-group-item">
                                {% blocktrans trimmed %}
                                    By participating in this study, you give your informed consent to the use of your
                                    answers anonymously and solely for scientific purposes.
                                {% endblocktrans %}

                            </li>
                            <li class="list-group-item">
                                {% blocktrans trimmed %}
                                    On average, the survey takes about 15 minutes.
                                {% endblocktrans %}
                            </li>
                            <li class="list-group-item list-group-item-warning">
                                {% blocktrans trimmed %}
                                    There will be attention checks throughout the study to ensure the validity of
                                    participant's answers. Failing two of these attention checks will result in getting
                                    removed the study without pay.
                                {% endblocktrans %}
                            </li>
                            <li class="list-group-item">
                                {% blocktrans trimmed %}
                                    Let me know if you have any questions or technical difficulties via
                                    messages Yandex.Toloka or by e-mail:
                                {% endblocktrans %} <a href="mailto:epee@hse.ru" target="_blank"
                                                       rel="noopener noreferrer">epee@hse.ru</a>.

                            </li>
                        </ul>
                        <div class="text-center">
                            <button class="mdc-button foo-button mdc-button--outlined">
                                <div class="mdc-button__ripple"></div>
                                <span class="mdc-button__label">{% trans 'Proceed' %}</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}
