{% extends "tester/Page.html" %}
{% load otree %}


{% block content %}
    <style>
    .infocard{max-width:700px}
    </style>



            <div class="card infocard" >
                <div class="card-body">
                    <div>
                        At the next page we will show you several statements and will ask you to answer the following question:
                    </div>
                    <div class="text-center lead font-weight-bold my-5">
                        {{ field_desc.announcement }}
                    </div>
                    <button class="mdc-button foo-button mdc-button--outlined">
                        <div class="mdc-button__ripple"></div>
                        <span class="mdc-button__label">Proceed</span>
                    </button>
                </div>
            </div>






{% endblock %}
