{% extends 'tester/Base.html' %}
{% load render_bundle from webpack_loader %}
{% block back %}

{% endblock %}
{% block styles %}
    <style>
        body, html {
            height: 100%;
        }
    </style>

{% endblock %}
{% block main %}
    <div class="   d-flex flex-column h-100 ">
        <div class="card flex-grow-1 my-auto d-flex align-items-center flex-column bg-dark h-100">
            <div class="my-auto text-center text-white">
                <script>
                    window.socket_path = "{{ view.live_url }}";
                    window.id_in_group = {{ player.id_in_group }};
                </script>
                <div class="lead " id="app"></div>
                {% block content %}

                {% endblock %}
                {% render_bundle 'chunk-vendors' %}
                {% render_bundle 'main' %}

            </div>
        </div>
    </div>

{% endblock %}

